form {
    display: inline
}

form button {
    background: transparent;
    padding:0px;
    border:0px;
}

form button i {
    color: #337ab7;
}

.img {
    width: 100px;
    height: 100px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-input {

    margin-top: 10px;
}

.wrapper-input-images {
    margin-top: 10px;
}

.wrapper {
    margin-top: 30px;
    display: flex;
}

.wrapper-image  {
    position: relative;
    width: 250px;
    height: 250px;
    margin-right: 10px;
}

.delete {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: 0.2s;
}

.delete a {
    color: #000;
    text-decoration: none;
}

.delete:hover {
    background-color: rgb(189, 218, 255);
    transition: 0.2s;
}

.wrapper-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.show-back {
    margin-top: 20px;
}

.tox-notifications-container{
    display: none;
}


/*------------------------ TABLE ------------------------*/

.id {
    width: 5%;
}

.title {
    width: 10%;
}

.description {
    width: 40%;
}

.img {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.wrap-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.head-table-style {
    font-weight: bold;
}

thead {
    background-color: #d7e4e2;
}

table {
    margin-top: 20px;
    /*border: 1px solid #ddd;*/
}

/*td:not(:last-child) {*/
/*    border-right: 1px solid #ddd;*/
/*}*/

